


{% extends 'plan1.html' %}
{% load static %}
{% block body %}



<header class="bg-primary text-white text-center py-5" >
    <h1>Contact Us</h1>

</header>

<section class="container">
    <p class="lead font-weight-bold text-danger">For inquiries or assistance, please reach out to us:</p>
    <ul class="list-group">
        <li class="list-group-item"> <p class="font-weight-bold">Email:</p> cheruiyotk134@gmail.com</li>
        <li class="list-group-item"> <p class="font-weight-bold">Phone: </p>  +254746589039</li>
        <li class="list-group-item"> <p class="font-weight-bold">Phone:</p>  +254746589039</li>
        <li class="list-group-item"> <p class="font-weight-bold">facebook:</p> Travel@Ken</li>
        <li class="list-group-item"><p class="font-weight-bold">twitter: </p> @KenTravel</li>

    </ul>
    <!-- Add a contact form if necessary -->
</section>

<footer>
    <p>&copy; 2023 Your Travel Site. All rights reserved.</p>
    <!-- Add additional footer content here -->
</footer>

{% endblock %}
