
{% extends 'plan1.html' %}
{% load static %}
{% block body %}


    <!-- Navigation Bar -->


    <!-- Planning Section -->
    <section id="planning">
        <div class="container">
            <h2 class="text-black">Travel Planning</h2>
            <p class="text-white black-bg">
                Plan your dream vacation with us. Choose your destination, find the perfect accommodation,
                and explore exciting activities.
            </p>

            <!-- Planning Form -->
            <form action="" method="POST">

                {% csrf_token %}

    {{ form.as_p }}
    <input  type="submit" value="Plan Now" class="btn btn-outline-success mt-2">

            </form>
        </div>
    </section>

    <!-- Footer -->
    <footer>
        <p>&copy; 2023 Your Travel Website. All rights reserved.</p>
    </footer>

    <!-- Add your JavaScript scripts or links here if needed -->
{% endblock %}